/* DateRangePicker.css */
.flatpickr-wrapper {
    position: relative;
    display: flex;
    align-items: center;
   
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
  }
  
  .calendar-icon {
    margin-right: 8px; /* Adjust spacing as needed */
    font-size: 1.5em;
    color: gray; /* Adjust color as needed */
  }
  
  .datepicker-input {
    flex: 1;
    padding-left: 1.5em; /* Adjust padding to prevent text overlap with icon */
    background-color: white; /* dark:bg-slate-800 */
    color: gray; /* text-slate-500 */
    border: none;
    outline: none;
    height: 7vh; /* Adjust height as needed */
    border-radius: 4px;
  }
  
 /*for Side Bar  custom.css */
.custom-accordion .accordion-header {
  background-color: #1E293B; /* dark background */
  color: white; /* white text */
  border: none; /* remove border */
}

.custom-accordion .accordion-button {
  background-color: #1E293B; /* dark background */
  color: white; /* white text */
  border: none; /* remove border */
  box-shadow: none; /* remove box shadow */
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: #0F172A; /* slightly lighter background when open */
  color: white; /* white text */
}

.custom-accordion .accordion-body {
  background-color: #0F172A; /* another shade of dark background */
  color: white; /* white text */
  border: none; /* remove border */
}

